carp-example/carp-spring-xsd/src/main/resources/META-INF/rxyor.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://github.com/schema/rxyor"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:beans="http://www.springframework.org/schema/beans"
    targetNamespace="http://github.com/schema/rxyor"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.springframework.org/schema/beans"/>
    <xsd:element name="redis">
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="beans:identifiedType">
                    <xsd:attribute name="host" type="xsd:string" use="optional"
                        default="127.0.0.1"/>
                    <xsd:attribute name="port" type="xsd:integer" use="optional" default="6379"/>
                    <xsd:attribute name="database" type="xsd:integer" use="optional" default="0"/>
                    <xsd:attribute name="password" type="xsd:string"/>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>