carp-spring/src/main/resources/META-INF/redis/xsd/carp-redis.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
    xmlns="http://github.com/schema/carp-redis"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:beans="http://www.springframework.org/schema/beans"
    targetNamespace="http://github.com/schema/carp-redis"
    elementFormDefault="qualified"
    attributeFormDefault="unqualified">

    <xsd:import namespace="http://www.springframework.org/schema/beans"/>

    <xsd:complexType abstract="true" name="baseType">
        <xsd:complexContent>
            <xsd:extension base="beans:identifiedType">
                <xsd:sequence>
                    <xsd:element ref="beans:description" minOccurs="0"/>
                    <xsd:element ref="beans:qualifier" minOccurs="0"/>
                </xsd:sequence>
                <xsd:attribute name="name" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation><![CDATA[
	Can be used to create one or more aliases illegal in an (XML) id.
	Multiple aliases can be separated by any number of spaces, commas,
	or semi-colons (or indeed any mixture of the three).

        Names listed here can be used for @Qualifier matching only when the
        <code>&lt;qualifier&gt;</code> is not used.
                     ]]></xsd:documentation>
                    </xsd:annotation>
                </xsd:attribute>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>

    <xsd:element name="redisConfig">
        <xsd:annotation>
            <xsd:documentation>
                Define and create a RedisConfig instance.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="baseType">
                    <xsd:attribute name="host" type="xsd:string" use="optional"
                        default="127.0.0.1">
                        <xsd:annotation>
                            <xsd:documentation>
                                <![CDATA[host of redis connection.]]>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="port" type="xsd:string" use="optional" default="6379">
                        <xsd:annotation>
                            <xsd:documentation>
                                <![CDATA[port of redis connection.]]>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="database" type="xsd:string" use="optional" default="0">
                        <xsd:annotation>
                            <xsd:documentation>
                                <![CDATA[database of redis connection.]]>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                    <xsd:attribute name="password" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>
                                <![CDATA[password of redis connection.]]>
                            </xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>